html {
    background-color: #000;
}

body {
    font-family: 'Helvetica';
}

.bold {
    font-weight: 600;
}

.story-name {
    font-weight: 800;
}

.story-time {
    font-size: 10px;
    color: #999;
    margin-top: 12px;
    line-height: 0px;
}
